<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.infinity_courseproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:name=".ui.util.MyApplication"
        android:supportsRtl="true"
        android:theme="@style/Theme.InfinityCourseProject">

        <activity android:name=".ui.activity.NotificationActivity"
            android:parentActivityName=".ui.activity.HomeActivity">
        </activity>

        <activity android:name=".ui.activity.PassengerActivity"
            android:parentActivityName=".ui.activity.HomeActivity">
        </activity>

        <activity
            android:name=".ui.activity.HomeActivity"
            android:theme="@style/Theme.InfinityCourseProject.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.RoutineActivity"
            android:theme="@style/Theme.InfinityCourseProject.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.RoutineAddEditActivity"
            android:parentActivityName=".ui.activity.RoutineActivity">
        </activity>

        <activity
            android:name=".ui.activity.AssignmentActivity"
            android:theme="@style/Theme.InfinityCourseProject.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.AssignmentAddEditActivity"
            android:parentActivityName=".ui.activity.AssignmentActivity">
        </activity>

        <activity android:name=".ui.activity.EventEditActivity"
            android:parentActivityName=".ui.activity.RoutineAddEditActivity">
        </activity>

        <activity
            android:name=".ui.activity.CourseActivity"
            android:theme="@style/Theme.InfinityCourseProject.NoActionBar">
        </activity>

        <activity android:name=".ui.activity.CourseAddEditActivity"
            android:parentActivityName=".ui.activity.CourseActivity">
        </activity>

        <service android:name=".domain.util.TimeService"/>


    </application>

</manifest>